<div class="container">

	<div class="row">

		<div  id="carrouselcont" class="col-md-offset-1 col-md-10">
			
			<div id="slider">

					<div class="row">
            <div class="col-lg-2 col-md-6 text-center">

                <div class="network">
                    <ul id="navimg"><li>
                        <%= image_tag 'FL.png', class: "navi", id: "arrowl" %></li>
                    <li>
                        <li>
                        <%= image_tag 'img.png', class: "navi", id: "img1"  %></li>
                    <li>
                        <%= image_tag 'img.png', class: "navi", id: "img2"  %></li>
                         <li>
                        <%= image_tag 'img.png', class: "navi", id: "img3"  %></li>
                         
                        <li>
                        <%= image_tag 'FR.png', class: "navi", id: "arrowr"  %></li>
                    <li>
                        
                </ul>             
                </div>
          
          <ul class="slides">
              <li class="slide slide1"><img src="http://www.jdkebab.co.uk/LandingPage/gallery/00.jpg" /></li>
              <li class="slide slide2"><img src="https://irp-cdn.multiscreensite.com/779adb02/Wedding%20Dinner%20Menus%202.jpg" /></li>
              <li class="slide slide3"><img src="https://irp-cdn.multiscreensite.com/779adb02/dms3rep/multi/desktop/Catering%20Menus%20Pickup%202-900x350.jpg" /></li>
              <li class="slide slide4"><img src="http://www.jdkebab.co.uk/LandingPage/gallery/00.jpg" /></li>
          </ul>

      </div>

		</div>

		<div class="col-md-1">
			<button id="arrowl">left</button>
			<button id="arrowr">right</button>
			<p><span id="img1">1</span><span id="img2">2</span><span id="img3">3</span></p>
		</div>

	</div>


	<div class="row">

		<div id="container" class="col-md-offset-2 col-md-8">

	  	  <h1> T'aimes ça le canard ?</h1>

	    	<div>

	        <button value="1">Présentation</button>
	        <button value="2">Menu</button>
	        <button value="3">Info.</button>

	    	</div>

	    	<div id="screen">

	        <div id="tab_1" class="screen">

	            <h2>Présentation</h2>

              <h6>DUCK ME EST LE PREMIER CONCEPT 
                    DE RESTAURATION RAPIDE QUI PROPOSE 
                    sDES PRODUITS DE QUALITÉ ISSUS DE LA
                    CULTURE STREET FOOD ET RÉINTERPRÉTÉS
                    AUTOUR DE LA VIANDE DE CANARD.</h6>

	        </div>

	        <div id="tab_2" class="screen">

	            <h2>Menu</h2>
                <h4>Ducker</h4>
                <p>Le burger de canard très addictif.</p>
                <h4>Double duck</h4>
                <p>Le club sandwich double canard.</p>
                <h4>Duck sticks</h4>
                <p>Le canard à l'état brut.</p>

	        </div>


	        <div id="tab_3" class="screen">
	            
                <h2>Adresse</h2>
                <p>700 La Pyrénéenne, 31670 Labège</p>
                <h3>Téléphone</h3>
                <p>05 67 16 73 09</p>
                <h3>Horaire</h3>
                <p> Lundi	      11:30–14:30<br>
                    Mardi	      11:30–14:30<br>
                    Mercredi	  11:30–14:30<br>
                    Jeudi	      11:30–14:30, 18:30–21:00<br>
                    Vendredi	  11:30–14:30, 18:30–21:00<br>
                    Samedi	      11:30–21:00<br>
                    Dimanche	  Fermé<br>
                </p>

	        </div>

	    </div>

	</div>

</div>





